In [1]:
#1. Read `titanic.csv` into a DataFrame.
import pandas as pd
import numpy as np
from scipy.stats import mode
titanic = pd.read_csv('C:\Users\Pedro\Documents\sfdat_forked\sfdat28\data\\titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#2. What is the null accuracy rate for predicting survival? (This means the probability of choosing the largest unique category, either survived or not)
1 - titanic.Survived.mean()

0.6161616161616161

In [72]:
#3. Can you think of some variables that are in the dataset that might contribute to predicting survival of the crash?
titanic.Age.fillna(titanic.Age.median(), inplace = True)
titanic['age_bins'] = pd.cut(titanic.Age,4)
titanic.groupby('age_bins').Survived.mean()

age_bins
(0.34, 20.315]     0.458101
(20.315, 40.21]    0.364769
(40.21, 60.105]    0.390625
(60.105, 80]       0.227273
Name: Survived, dtype: float64

In [73]:
#4. Define Pclass and Parch as the features, and Survived as the response.
features = ['Pclass', 'Parch']
response = 'Survived'
X = titanic[features]
y = titanic[response]

In [74]:
#5. Split the data into training and testing sets. (Hint: use the train test split modules from sklearn)
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [75]:
#6. Fit a logistic regression model and examine the coefficients to confirm that they make intuitive sense.
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
pd.DataFrame(zip(features, logreg.coef_), columns=['feature', 'coef'])

  feature                               coef
0  Pclass  [-0.818648912686, 0.282665517762]

In [76]:
#7. Make predictions on the testing set and calculate the accuracy.
(logreg.predict(X_test) == y_test).mean()

0.71748878923766812

In [77]:
#8. Create a confusion matrix and document the model's sensitivity and specificity. (remember you should run metrics on your test classes!)
from sklearn import metrics
confusion = metrics.confusion_matrix(y_test, logreg.predict(X_test))
print confusion/float(len(y_test))
print metrics.classification_report(y_test, logreg.predict(X_test))

[[ 0.52017937  0.11210762]
 [ 0.17040359  0.19730942]]
             precision    recall  f1-score   support

          0       0.75      0.82      0.79       141
          1       0.64      0.54      0.58        82

avg / total       0.71      0.72      0.71       223

In [78]:
#9. Also include Age as a feature, and calculate the testing accuracy. There will be a small issue you'll have to deal with. What is it? How will you deal with it? (Hint you can try using fillna with the mean of the column, median, etc)
features = ['Pclass', 'Parch', 'Age']


X = titanic[features]
y = titanic[response]
X_train, X_test, y_train, y_test = train_test_split(X, y)

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

(logreg.predict(X_test) == y_test).mean()

0.70852017937219736

In [79]:
#10. Try to make up a new column (be creative!) that you think might be helpful. For example one student make a column called "is_married" which was a combination of SibSp and the name column and include this new column.
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_bins
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"(20.315, 40.21]"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"(20.315, 40.21]"
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"(20.315, 40.21]"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"(20.315, 40.21]"
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"(20.315, 40.21]"

In [84]:
#11. In any of your models, were you able to beat the null accuracy rate?
    
titanic.age_bins = titanic.age_bins.apply(bin_cat)
features = ['Pclass', 'Parch', 'age_bins']
X = titanic[features]
y = titanic[response]
X_train, X_test, y_train, y_test = train_test_split(X, y)

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

(logreg.predict(X_test) == y_test).mean()

0.67264573991031396

In [ ]:

features = ['Pclass', 'Parch', 'age_bins']
X = titanic[features]
y = titanic[response]
X_train, X_test, y_train, y_test = train_test_split(X, y)

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

(logreg.predict(X_test) == y_test).mean()